.modal{
  position: fixed;
  /* background-color: rgba(0, 0, 0, 0.7); */
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.modal-animation{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;

  -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s; /* Firefox < 16 */
  -ms-animation: fadein 0.2s; /* Internet Explorer */
  -o-animation: fadein 0.2s; /* Opera < 12.1 */
  animation: fadein 0.2s;
}
@keyframes fadein {
  from {opacity: 0.5;}
  to {opacity: 1;}
}
.modal-content{
  background-color: white;
  width: 25%;
  margin: auto;
  padding:  2rem 4rem;
  font-family: 'Open Sans';
  border-radius: 5px;

  -webkit-animation: slideIn 0.4s;
}
@keyframes slideIn {
  from {
    opacity: 0.7;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.modal-content h3{
  /* text-align: center; */
  border: none;
  margin: 0 0 1rem 0;
}
.modal-content p{
  margin: 1rem 0;
  line-height: 1.3rem;
}
.bar{
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
}
.buttons{
  display: flex;
  right: 0;
  justify-content: flex-end;
  text-align: right;
}
.button{
  display: inline-block;
  text-align: center;
  border: 1px solid rgb(196, 196, 196);
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  margin-top: 4rem;
}
.button:hover{
  cursor: pointer;
}
#cancel:hover{
  background-color: #f5f5f5;
}
#delete{
  color: white;
  background-color: #f15e5e;
  border: none;
  margin-right: 0.2rem;
}
#delete:hover{
  background-color: #f14343;
}
